/* ------------------- */
/* Components          */
/* ------------------- */

/*-------- NAV --------*/

/*-------- LAZY LOAD IMAGES --------*/
.bg-lazy-load-img,
.lazy-load-img {
  opacity: 0;
  transition: opacity 1000ms;
}

.fade-lazy-load-img {
  opacity: 1 !important;
  transition: opacity ease-out 1s;
}

/*-------- Orgenizar --------*/
.footer {
  background: var(--dark);
  color: var(--secondary);
  text-align: center;
  padding: 1rem 0;
}
