/* ------------------- */
/* Custom properties   */
/* ------------------- */

/* Colors */
:root {
  --primary: #ffb727;
  --secondary: #fff4df;
  --dark: #1C1C1C;
  --light: #3f3f3f;
  --black: #000000;
  --white: #ffffff;
}

/* Font sizes */
:root {
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-xxl: 2.5rem;
}

/* Font families */
:root {
  --font-primary: 'BeVietnamPro', Arial, sans-serif;
}

/* HSL colors */
:root {
  --primary-hsl: 40 100% 58%;
  --secondary-hsl: 39.375 100% 94%;
  --dark-hsl: 0 0% 11%;
  --light-hsl: 0 0% 95%;
  --black-hsl: 0 0% 0%;
  --white-hsl: 0 0% 100%;
}


