/* ------------------- */
/* General styles     */
/* ------------------- */

html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: var(--font-primary);
  color: var(--light);
  background-color: var(--white);
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary);
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* *:focus {
   outline: 1px solid var(--light);
   padding: 0.2rem;
  } */

*:focus-visible {
  outline: 0.16rem solid #ff4abe;
  outline-offset: 0.3125rem;
}

@media (min-width: 992px) {
  html {
    font-size: 18px; /* Utilizando variable de tamaño de fuente de Bootstrap */
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

/*----------------------*/
/* SECTION TITLE STYLES */
/*----------------------*/
.section-title {
  text-align: center;
  padding: 1.875rem 0;
  position: relative;
}

.section-title h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  padding-bottom: 0;
  color: var(--dark);
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 1.875rem;
  color: hsl(var(--dark-hsl) / 0.1);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 2.8rem;
  text-transform: uppercase;
  line-height: 0;
}

@media (min-width: 992px) {
  .section-title span {
    font-size: 3.25rem;
  }
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  border-color: var(--primary);
}

.resume-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.resume-items .card {
  width: 100%;
}

.resume-items ul {
  list-style: disc;
  margin-left: 1.5rem;
}

/* .resume-items h4{
  margin-bottom: 0.5rem;
} */

.resume-items p {
  margin-bottom: 0px;
}

.year {
  background: #eef0f2;
  padding: 0.3125rem 0.9375rem;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
p.year {
  margin-bottom: 0.625rem;
}

@media (min-width: 992px) {
  .resume-items .card {
    width: 80%;
  }
}

/*-------- Social styles--------*/
.social-media {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.social-media a svg {
  fill: var(--dark);
  width: 1.2rem;
}

.social-media a:hover svg {
  fill: var(--primary);
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0;
  gap: 1rem;
}

.social-list a svg {
  fill: var(--secondary);
  width: 1rem;
}

.social-list a:hover svg {
  fill: var(--primary);
}
