<div class="filters">
  <button
    class="btn"
    aria-label="Filtrar per activitats socials"
    (click)="handleClick($event)"
  >
    <span class="btn-primary">Social</span>
  </button>
  <button
    class="btn"
    aria-label="Filtrar per activitats educatives"
    (click)="handleClick($event)"
  >
    <span class="btn-primary">Educació</span>
  </button>
  <button
    class="btn"
    aria-label="Filtrar per activitats de caritat"
    (click)="handleClick($event)"
  >
    <span class="btn-primary">Caritat</span>
  </button>
  <button
    class="btn"
    aria-label="Filtrar per activitats de cuina"
    (click)="handleClick($event)"
  >
    <span class="btn-primary">Cuinar</span>
  </button>
  <button
    class="btn"
    aria-label="Filtrar per activitats de relaxació"
    (click)="handleClick($event)"
  >
    <span class="btn-primary">Relaxació</span>
  </button>
  <button
    class="btn"
    aria-label="Filtrar per treballs intensos"
    (click)="handleClick($event)"
  >
    <span class="btn-primary">Treball Intents</span>
  </button>
</div>
