<div class="container">
  <div class="half-screen zigzag-border">
    <div class="activity-section">
      <activity-filters />
      <div class="image-wrapper">
        <img
          class="boored-image"
          src="assets/img/img.png"
          alt=""
          width="180"
          height="187"
        />
      </div>
      <div class="generate-activity">
        <h1>TROBA ALGUNA COSA A FER</h1>
        <button class="btn btn-primary">Generar</button>
      </div>
    </div>
  </div>
  <div class="half-screen">
    <activity-card />
  </div>
</div>
