/* You can add global styles to this file, and also import other style files */
@import url("../public/assets/css/reset.css");
@import url("../public/assets/css/fonts.css");
@import url("../public/assets/css/custom-properties.css");
@import url("../public/assets/css/general-styles.css");
@import url("../public/assets/css/utility-classes.css");

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}

header {
  height: 3rem;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f7d3;
  color: #1c1c1c;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
