/* Importación de archivos de estilo */
@import url("../public/assets/css/reset.css");
@import url("../public/assets/css/fonts.css");

/* Variables CSS */
:root {
  color-scheme: light dark;
  --dark: #1d1d1d;
  --light: #3f3f3f;
  --black: #000000;
  --white: #ffffff;
  --gray: #eff5f5;

  --font-primary: "BeVietnamPro", Arial, sans-serif;
}

/* Estilos generales   */
html {
  scroll-behavior: smooth;
  font-size: 14px;
  line-height: 1.5;
}

body {
  font-family: var(--font-primary);
  color: var(--light);
  background-color: var(--white);
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary);
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: bold;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

*:focus-visible {
  outline: 0.16rem solid #ff4abe;
  outline-offset: 0.3125rem;
}

/* Estilos de layout   */
app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}

header {
  height: 3rem;
  display: flex;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

main {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f7d3;
  color: var(--dark);
  text-align: center;
}

/* Clases utilitarias  */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
  border: 1px solid #ff0000;
  padding: 0.3rem;
  background-color: #ffdbdb;
}

/* Media Queries       */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
